h1{
  color: grey;
}

button {
  background-color: #4CAF50; /* Green */
  border: black solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

select {
  border: black solid;
  color: white;
  background-color: darkcyan;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-grid;
  font-size: 12px;
}

option {
  border: solid;
  background-color: darkcyan;
  font-size: 12px;
}

input {
  border: black solid;
  color: white;
  background-color: darkcyan;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

p{
  display: table;
  background-color: darkcyan;

}

label{
  background-color: #4CAF50;
}
div{
  display:inline-grid;
}

ul{
  display: list-item;
}

li{
  border: solid;
  display: inline-list-item;
  background-color: darkcyan;
}

