h1{
  color: grey;
}

button {
  background-color: #4CAF50; /* Green */
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

select {
  border: solid;
  color: white;
  background-color: darkcyan;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-grid;
  font-size: 12px;
}

option {
  border: solid;
  background-color: darkcyan;
  font-size: 12px;
}

input {
  border: solid;
  border-image-width: 1px;
  color: white;
  background-color: darkcyan;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

ul {
  list-style-type: upper-roman;
  margin: 0;
  padding: 0;
}

li {

  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

p{
  display: table;

}

label{
  background-color: #4CAF50;

}
div{
  display:inline-grid;
}

